.new-message { 
    width: 45%;
    border-radius: 8px;
    margin-bottom: 1rem;
    float:left;
    clear: both;
    color: white;
    background-color: $light-green2;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    .message-name{ 
        background: $medium-green2;
    }
}

.my-message {
    float: right !important;
    background-color: $light-green;
    color: white;
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    .message-name{ 
        background: $medium-green;
    }
}

.message-name{ 
    font-size: 0.8rem; 
    display: block; 
    margin-bottom: 2px;
    border-radius: 8px 8px 0px 0px; 
    padding: 8px 12px;
}

.message-content{
    padding: 8px 12px;
    border-radius: 8px;
}

.slide-in {
    animation: slide-in 0.5s forwards ease;
    -webkit-animation: slide-in 0.5s forwards ease;
}
    
@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}